body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}

.img-container {
	padding-top:2%;
	padding-bottom:5%;
}

.properties-container {
	padding-top: 2%;
	padding-bottom: 2%;
}

.formscontainer
{
	display:flex;
	justify-content: space-around;
}

.bottomcontainer
{
	padding-top: 3%;
}

.pk {
  text-decoration: underline;
}

.navbar-brand {
	padding:0px;
}

img {
	margin-right:50px;
}

.content {
		min-height:100vh;
}


#footertext {
	align-items: center;
    display: flex;
	    font-size: 18px;
    line-height: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
}

#div1footer {
	margin-right:auto;
}
#div2footer {
	justify-self: center;
}
#div3footer {
	margin-left: auto;
}

.lead {
	padding-top:30px;
	padding-bottom:30px;
}