{% extends "template.html" %}


{% block app_content %}
<div class="container">
	<div class="formscontainer">
		<div class="form">
		    <h3>Add New Assignment</h3>
	    	<form action="{{ url_for('saveAddAssignment') }}" method="post" novalidate>
		        {{ addAssignmentForm.hidden_tag() }}
		        <p>
		            {{ addAssignmentForm.title.label }}<br>
		            {{ addAssignmentForm.title(size=32) }}
		        </p>
		        <p>
		            {{ addAssignmentForm.due.label }}<br>
		            {{ addAssignmentForm.due(size=32) }}
		        </p>
		        <p>
		            {{ addAssignmentForm.points.label }}<br>
		            {{ addAssignmentForm.points(size=32) }}
		        </p>
            <p>
		            {{ addAssignmentForm.description.label }}<br>
		            {{ addAssignmentForm.description(size=32) }}
		        </p>
		        <p>
		            {{ addAssignmentForm.course.label }}<br>
		            {{ addAssignmentForm.course(size=32) }}
		        </p>
		        <p>{{ addAssignmentForm.submit2() }}</p>
		    </form>
		</div>
	</div>
</div>

{% endblock %}