{% extends "template.html" %}
{% block app_content %}
<div class="container">
    <div class="form">
        <h3>Add New Course</h3>
        <form action="{{ url_for('saveAddCourse', teacher_id=teacher_id) }}" method="post" novalidate>
            {{ addCourseForm.hidden_tag() }}
            <p>
                {{ addCourseForm.title.label }}<br>
                {{ addCourseForm.title(size=32) }}
            </p>
            <p>
                {{ addCourseForm.section.label }}<br>
                {{ addCourseForm.section(size=32) }}
            </p>
            <p>
                {{ addCourseForm.department.label }}<br>
                {{ addCourseForm.department(size=32) }}
            </p>
            <p>
                {{ addCourseForm.description.label }}<br>
                {{ addCourseForm.description(size=32) }}
            </p>
            <p>
                {{ addCourseForm.units.label }}<br>
                {{ addCourseForm.units(size=32) }}
            </p>
{#            <p>#}
{#                {{ addCourseForm.teacher.label }}<br>#}
{#                {{ addCourseForm.teacher() }}#}
{#            </p>#}
            {{ addCourseForm.submit1() }}
        </form>
    </div>
</div>
{% endblock %}
