{% extends "template.html" %}


{% block app_content %}

<div class="container">
	<div class="formscontainer">
		<div class="form">
	    <h3>Add New Student</h3>
	    <form action="{{ url_for('saveAddStudent') }}" method="post" novalidate>
	        {{ addStudentForm.hidden_tag() }}
	        <p>
	            {{ addStudentForm.first.label }}<br>
	            {{ addStudentForm.first(size=32) }}
	        </p>
	        <p>
	            {{ addStudentForm.last.label }}<br>
	            {{ addStudentForm.last(size=32) }}
	        </p>
	        <p>
	            {{ addStudentForm.email.label }}<br>
	            {{ addStudentForm.email(size=32) }}
	        </p>
            <p>
	            {{ addStudentForm.phone.label }}<br>
	            {{ addStudentForm.phone(size=32) }}
	        </p>
            <p>
	            {{ addStudentForm.year.label }}<br>
	            {{ addStudentForm.year(size=32) }}
	        </p>
	        {{ addStudentForm.submit1() }}
	    </form>
		</div>
	</div>
</div>

{% endblock %}