{% extends "template.html" %}


{% block app_content %}

<div class="container">
	<div class="formscontainer">
		<div class="form">
	    <h3>Add New Student </h3>
	    <form action="{{ url_for('saveAddStudent', course_id=course_id) }}" method="post" novalidate>
	        {{ addStudentForm.hidden_tag() }}
	        <p>
	            {{ addStudentForm.first_name.label }}<br>
	            {{ addStudentForm.first_name(size=32) }}
	        </p>
	        <p>
	            {{ addStudentForm.last_name.label }}<br>
	            {{ addStudentForm.last_name(size=32) }}
	        </p>
	        <p>
	            {{ addStudentForm.email.label }}<br>
	            {{ addStudentForm.email(size=32) }}
	        </p>
            <p>
	            {{ addStudentForm.telephone.label }}<br>
	            {{ addStudentForm.telephone(size=32) }}
	        </p>
            <p>
	            {{ addStudentForm.year.label }}<br>
	            {{ addStudentForm.year(size=32) }}
	        </p>
	        {{ addStudentForm.submit1() }}
	    </form>
		</div>
	</div>
</div>

{% endblock %}