{% extends "template.html" %}

{% block app_content %}

<div class="container">
    <p class="lead">Below, you can click on a student, assignment, or submission to edit or delete them. You can also click on the course name to edit the course details.</p>
    <h2>
        Gradebook for
        <small>
            <a href="{{ url_for('editCourse', course_id=course.course_id) }}">
                {{ course.title }}
            </a>
        </small>
    </h2>

    <form class="form-inline" method="get" action="{{ url_for('view_course', course_id=course.course_id) }}">
      <div class="form-group">
        <input type="text" class="form-control" name="name" id="searchname" placeholder="Search students" value='{{ name }}'>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>

    <table class="table table-striped table-sm">
        <thead>
          <th> Students </th>
            {% if assignments %}
              {%- for assignment in assignments %}
                <th>
                  <a href="{{ url_for('assignment', course_id = course.course_id, assignment_id = assignment.assignment_id) }}" >
                    <p>{{ assignment.title }}</p>
                  </a>
                  <p>{{ assignment.due }}</p> <p>{{ assignment.points }} points</p>
                </th>
              {%- endfor %}
            {% endif %}
            <th>
              <a href="{{ url_for('addAssignment', course=course.course_id) }}" >
                <p>Add New Assignment</p>
              </a>
            </th>
        </thead>

        <tbody id="tablebody">
            {% if students %}
              {%- for student in students %}
                <tr>
                  <th>
                    <a href="{{ url_for('student', student_id=student.student_id, course_id=course.course_id) }}" >
                      {{ student.first_name + " " + student.last_name }}
                    </a>
                  </th>
                    {% for assignment in assignments%}
                        <td>
                        {% if submissions[students.index(student)][assignments.index(assignment)] != 0 %}
                            <a href="{{ url_for('editSubmission', submission_id=submissions[students.index(student)][assignments.index(assignment)],
                            course_id=assignment.course, item_id=assignment.assignment_id, redirect_option="course") }}">
                                {{ grades[students.index(student)][assignments.index(assignment)] | int }}%
                            </a>
                        {% else %}
                            <a href="{{ url_for('addSubmission', course_id=course.course_id, assignment_id=assignment.assignment_id, student_id=student.student_id)}}">{{ grades[students.index(student)][assignments.index(assignment)] | int }}%</a>
                        {% endif %}
                        </td>
                    {% endfor %}
                    <td> </td>
                </tr>
              {%- endfor %}
            {% endif %}

            <tr>
              <th>
                <a href="{{ url_for('enrollstudent', course_id = course.course_id) }}">Enroll Existing Student</a>
              </th>
              {% for assignment in assignments%}
                <td> </td>
              {% endfor %}
              <td> </td>
            </tr>
            <tr>
              <th>
                <a href="{{ url_for('addStudent', course_id = course.course_id) }}">Add New Student</a>
              </th>
              {% for assignment in assignments%}
                <td> </td>
              {% endfor %}
              <td> </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}