{% extends "template.html" %}


{% block app_content %}

<div class="container">
    <h3>{{ course.title }} Gradebook </h3>
    <a href="{{ url_for('editCourse', course_id=course['course_id']) }}">Edit course</a>
    <p> Click on a student name to edit them or remove them from your roster (but not delete them from the school). </p>
    <p> Click on an assignment name to edit or delete it. </p>
    <form class="form-inline" method="get" action="{{ url_for('view_course', course_id=course['course_id']) }}">
      <div class="form-group">
        <input type="text" class="form-control" name="name" id="searchname" placeholder="Search students" value='{{ name }}'>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <table class="table table-striped table-sm">
        <thead>
          <th> Students </th>
            {% if assignments %}
              {%- for assignment in assignments %}
                <th>
                  <a href="{{ url_for('editAssignment', title=assignment.title, due=assignment.due, points=assignment.points, description=assignment.description, assignment_id = assignment.assignment_id) }}" >
                    <p>{{ assignment.title }}</p>
                  </a>
                  <p>{{ assignment.due }}</p> <p>{{ assignment.points }} points</p>
                </th>
              {%- endfor %}
            {% endif %}
            <th>
              <a href="{{ url_for('addAssignment', course=course.course_id) }}" >
                <p>Add New Assignment</p>
              </a>
            </th>
        </thead>

        <tbody id="tablebody">
            {% if students %}
              {%- for student in students %}
                <tr>
                  <th>
                    <a href="{{ url_for('editStudent', student_id=student.student_id, course_id=course.course_id) }}" >
                      {{ student.first_name + " " + student.last_name }}
                    </a>
                  </th>
                    {% for assignment in assignments%}
                        <td> {{ grades[students.index(student)][assignments.index(assignment)] | int }}%</td>
                    {% endfor %}
                    <td> </td>
                </tr>
              {%- endfor %}
            {% endif %}

            <tr>
              <th>
                <a href="{{ url_for('addStudent', course_id = course.course_id) }}" >
                  Add New Student
                </a>
              </th>
              {% for assignment in assignments%}
                <td> </td>
              {% endfor %}
              <td> </td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}