{% extends "template.html" %}


{% block app_content %}

<div class="container content">
    <div class="form" class="col-sm-12">
        <h3>{{teacher.first_name }} {{ teacher.last_name }} </h3>
        <br>
        <div class="col-lg-4">
            <h4>Edit Teacher</h4>
	    <form action="{{ url_for('saveEditTeacher', teacher_id=teacher.teacher_id) }}" method="post">
	    	{{ editTeacherForm.hidden_tag() }}
	        <p>
	            {{ editTeacherForm.first_name.label }}<br>
	            {{ editTeacherForm.first_name(value=teacher.first_name.strip(), size=32) }}
	        </p>
            <p>
	            {{ editTeacherForm.last_name.label }}<br>
	            {{ editTeacherForm.last_name(value=teacher.last_name.strip(), size=32) }}
	        </p>
            <p>
	            {{ editTeacherForm.email.label }}<br>
	            {{ editTeacherForm.email(value=teacher.email.strip(), size=32) }}
	        </p>
            <p>
	            {{ editTeacherForm.telephone.label }} <br>
	            {{ editTeacherForm.telephone(value=teacher.telephone.strip(), size=32) }}
	        </p>
	        {{ editTeacherForm.submit1(value="Update Teacher") }}
	    </form>

	    <form action="{{ url_for('deleteTeacher', teacher_id=teacher.teacher_id) }}" method="post">
	        <input type="submit" value="Delete Teacher" style="margin-top:2%">
	    </form>
        </div>
        <div class="col-lg-2 detail">
        </div>
        <div class="col-lg-4 detail">
		</div>
    </div>
</div>

{% endblock %}