{% extends "template.html" %}


{% block app_content %}

<div class="container">
    <div class="form" class="col-sm-12">
        <br>
        <div class="col-lg-4">
            <h4>Edit Submission</h4>
	    <form action="{{ url_for('saveEditSubmission', submission_id=submission.submission_id, item_id=item_id, course_id=course_id, redirect_option=redirect_option) }}" method="post">
	    	{{ editSubmissionForm.hidden_tag() }}
	        <p>
	            {{ editSubmissionForm.grade.label }}<br>
	            {{ editSubmissionForm.grade(value=submission.grade, size=32) }}
	        </p>
	        <p>
	            {{ editSubmissionForm.sub_time.label }}<br>
	            {{ editSubmissionForm.sub_time(value=submission.submitted, size=32) }}
	        </p>
	        {{ editSubmissionForm.submit(value="Update Submission") }}
	    </form>

	    <form action="{{ url_for('deleteSubmission', submission_id=submission.submission_id, item_id=item_id, course_id=course_id, redirect_option=redirect_option) }}" method="post">
	        <input type="submit" value="Delete Submission" style="margin-top:2%">
	    </form>
        </div>
        <div class="col-lg-2 detail">
        </div>
        <div class="col-lg-4 detail">
		</div>
    </div>
</div>

{% endblock %}