{% extends "template.html" %}


{% block app_content %}

<div class="container">
	<div class="formscontainer">
		<div class="form">
	    <h3>Edit Student</h3>
	    <form action="{{ url_for('saveEditStudent', first_name=student.first_name, last_name=student.last_name, year=student.year, email=student.email, telephone=student.telephone, student_id=student.student_id) }}" method="post" novalidate>
	    	{{ editStudentForm.hidden_tag() }}
	        <p>
	            {{ editStudentForm.first_name.label }}<br>
	            {{ editStudentForm.first_name(placeholder=student.first_name, size=32) }}
	        </p>
	        <p>
	            {{ editStudentForm.last_name.label }}<br>
	            {{ editStudentForm.last_name(placeholder=student.last_name, size=32) }}
	        </p>
	        <p>
	            {{ editStudentForm.email.label }}<br>
	            {{ editStudentForm.email(placeholder=student.email, size=32) }}
	        </p>
            <p>
	            {{ editStudentForm.telephone.label }}<br>
	            {{ editStudentForm.telephone(placeholder=student.telephone, size=32) }}
	        </p>
            <p>
	            {{ editStudentForm.year.label }}<br>
	            {{ editStudentForm.year(placeholder=student.year, size=32) }}
	        </p>
	        {{ editStudentForm.submit1(value="Update Student") }}
	    </form>

	    <form action="{{ url_for('deleteStudent', student_id=student.student_id) }}" method="post" novalidate>
	        <input type="submit" value="Delete Student" style="margin-top:2%">
	    </form>

		</div>
</div>

{% endblock %}