{% extends "template.html" %}


{% block app_content %}

<div class="container">
    <div class="form" class="col-sm-12">
        <h3>{{course.title }} </h3>
        <br>
        <div class="col-lg-4">
            <h4>Edit Course</h4>
	    <form action="{{ url_for('saveEditCourse', title=course.title, section=course.section, department=course.department, description=course.description, units=course.units, course_id=course.course_id) }}" method="post" novalidate>
	    	{{ editCourseForm.hidden_tag() }}
	        <p>
	            {{ editCourseForm.title.label }}<br>
	            {{ editCourseForm.title(placeholder=course.title, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.section.label }}<br>
	            {{ editCourseForm.section(placeholder=course.section, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.department.label }}<br>
	            {{ editCourseForm.department(placeholder=course.department, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.description.label }}<br>
	            {{ editCourseForm.description(placeholder=course.description, size=32) }}
	        </p>
          <p>
	            {{ editCourseForm.units.label }}<br>
	            {{ editCourseForm.units(placeholder=course.units, size=32) }}
	        </p>
            <input type="hidden" name="teacher" value="{{ course.teacher }}">
	        {{ editCourseForm.submit1(value="Update Course") }}
	    </form>

	    <form action="{{ url_for('deleteCourse', course_id=course.course_id) }}" method="post" novalidate>
	        <input type="submit" value="Delete Course" style="margin-top:2%">
	    </form>

        </div>
        <div class="col-lg-2 detail">
        </div>
        <div class="col-lg-4 detail">

            <h4> Course Gradebook </h4>
            <p> Click <a href = "{{ url_for('gradebook', course_id=course.course_id) }}"> here </a> to access the course roster and gradebook.</p>

        </div>
    </div>
</div>

{% endblock %}