{% extends "template.html" %}


{% block app_content %}

<div class="container">
    <div class="form" class="col-sm-12">
        <h3>{{course.title }} </h3>
        <br>
        <div class="col-lg-4">
            <h4>Edit Course</h4>
	    <form action="{{ url_for('saveEditCourse', title=course.title, section=course.section, department=course.department, description=course.description, units=course.units, course_id=course.course_id) }}" method="post" novalidate>
	    	{{ editCourseForm.hidden_tag() }}
	        <p>
	            {{ editCourseForm.title.label }}<br>
	            {{ editCourseForm.title(placeholder=course.title, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.section.label }}<br>
	            {{ editCourseForm.section(placeholder=course.section, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.department.label }}<br>
	            {{ editCourseForm.department(placeholder=course.department, size=32) }}
	        </p>
            <p>
	            {{ editCourseForm.description.label }}<br>
	            {{ editCourseForm.description(placeholder=course.description, size=32) }}
	        </p>
          <p>
	            {{ editCourseForm.units.label }}<br>
	            {{ editCourseForm.units(placeholder=course.units, size=32) }}
	        </p>
	        <p>
	            {{ editCourseForm.teacher.label }}<br>
	            {{ editCourseForm.teacher() }}
	        </p>
	        {{ editCourseForm.submit1(value="Update Course") }}
	    </form>

	    <form action="{{ url_for('deleteCourse', course_id=course.course_id) }}" method="post" novalidate>
	        <input type="submit" value="Delete Course" style="margin-top:2%">
	    </form>

        </div>
        <div class="col-lg-2 detail">
        </div>
        <div class="col-lg-4 detail">
            <h4> Course Roster </h4>
            {% if course.teachername %}
                <h5> Teacher: <a href="{{ url_for('editTeacher', teacher_id=course.teacher) }}" >{{ course.teachername }}</a> </h5>

            {% else %}
               <p> No teacher yet. </p>
            {% endif %}
            {% if course.students %}
                <table class="table table-striped table-sm">
                    <thead>
                          <th> Students</th>
                    </thead>

                    <tbody>
                        {% for student in course.students %}
                            <tr>
                                <td><a href="{{ url_for('editStudent', student_id=student.student_id) }}" >{{ student.student_name }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> No students yet. </p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}