 {% extends "bootstrap/base.html" %}

 {% block styles %}
 {{super()}}
     <link rel="shortcut icon" href="{{ url_for('static', filename='images/check.png') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}"> <!-- on local computer use .static -->
 {% endblock %}

{% block title %}
    Teacher Gradebook
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
        <a class="navbar-brand" href="/">
            <img height="50" src="{{ url_for('static', filename = 'images/check.png') }}"/>
        </a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('renderTeachers') }}">My Courses</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Signed in as {{ session['user']['name'] }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for t in session['teachers'] %}
                                <li><a href="{{ url_for('login', id=t['id']) }}">{{ t['name'] }}</a></li>
                            {% endfor %}
                                <li>
                                    <a href="{{ url_for('addTeacher') }}" >
                                        Add New Teacher
                                    </a>
                                </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="{{ url_for('view_admin') }}" >
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            <span class="text-danger">Admin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container content">
        {% include "error.html" %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

    <nav class="navbar navbar-default" >
        <div class="container" id="footertext">
            <div id="div1footer">
                Made @ <a href="https://engineering.oregonstate.edu/"><img height="40" src="{{ url_for('static', filename = 'images/osu2.jpeg') }}"/> </a>
            </div>
            <div id="div2footer">
                GradeMe &copy 2020
            </div>
            <div id="div3footer">
                Code @ <a href="https://github.com/laurenshareshian/grademeapp"><img height="40" src="{{ url_for('static', filename = 'images/github.png') }}"/> </a>
            </div>
        </div>
    </nav>
{% endblock %}
